@CHARSET "UTF-8";

/* When the pattern is matched */
input[type=text]:valid {
	color: green;
}

/* Unmatched */
input[type=text]:invalid {
	color: red;
}

input[type=text] {
	border: 1px solid #bbb;
}

table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #555;
}

th {
	background-color: #ddd;
}

th.order_number_header, tr.order_number_column {
	width: 40px;
}

input.order_number_text-form {
	width: 38px;
}

th.item_name_header, tr.item_name_column {
	width: 180px;
}

input.item_name_text-form {
	width: 178px;
}

th.detail_number_header, tr.detail_number_column {
	width: 80px;
}

input.detail_number_text-form {
	width: 78px;
}

th.staff_number_header, tr.staff_number_column {
	width: 100px;
}

input.staff_number_text-form {
	width: 98px;
}

th.delivery_date_header, tr.delivery_date_column {
	width: 100px;
}

input.delivery_date_text-form {
	width: 98px;
}

.error-message {
	color: #ff0000;
}